[submodule "consolas-powerline"]
	path = consolas-powerline
	url = git@github.com:Znuff/consolas-powerline.git
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = git@github.com:eendroroy/alacritty-theme.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
