[submodule "consolas-powerline"]
	path = consolas-powerline
	url = git@github.com:Znuff/consolas-powerline.git
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = git@github.com:eendroroy/alacritty-theme.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".vim/pack/plugins/start/vim-tmux-navigator"]
	path = .vim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/vim-speeddating"]
	path = .vim/pack/plugins/start/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
